@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Lobster+Two&family=Outfit&family=Righteous&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@mixin gradient_white() {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(400px);
}

@mixin gradient_blue() {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #3d73a6 10%);
  filter: blur(400px);
}

@mixin gradient_pink() {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

* {
  margin: 0;
  background-color: black;
}

.leaflet-container {
  position: absolute;
  width: 650px;
  height: 500px;
  top: 346.5%;
  left: 59%;
}

.gradient-white {
  @include gradient_white;
  position: absolute;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  overflow: hidden;

  top: 100%;
  left: 0;

  z-index: 0;
}

.gradient-pink {
  @include gradient_pink;
  position: absolute;
  width: 700px;
  height: 700px;
  border-radius: 50%;
  overflow: hidden;

  top: 65%;
  left: 40%;
  z-index: 0;
}

.gradient-blue {
  @include gradient_blue;
  position: absolute;
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  overflow: hidden;

  top: 5%;
  left: 5%;

  z-index: 0;
}

.gradient-pink2 {
  @include gradient_pink;
  position: absolute;
  width: 700px;
  height: 700px;
  border-radius: 50%;
  overflow: hidden;

  top: 255%;
  left: 5%;
  z-index: 0;
}

.gradient-blue2 {
  @include gradient_blue;
  position: absolute;
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  overflow: hidden;

  top: 200%;
  left: 40%;

  z-index: 0;
}

.gradient-white2 {
  @include gradient_white;
  position: absolute;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  overflow: hidden;

  top: 300%;
  left: 40%;

  z-index: 0;
}
